beautifulsoup4
chardet
colorama
envhanced @ git+https://github.com/transparentlyai/envhanced.git
gitignore-parser
httpx
litellm
patch_ng
pathspec
pdfplumber
prompt_toolkit
pymupdf
pymupdf4llm
python-dotenv
python-magic
retry
requests
rich
tiktoken
typer
uv
google-cloud-aiplatform
